@media (max-width: 600px) {
    :root {
        --bg-color: #1E1E2E;
        --primary-color: #28293D;
        --accent-color: rgba(74, 144, 226, 1);
        --text: #E0E0FF;
        --text-secondary: #b3b3cc;
        --contrast-color: #FFD700;
    }

    body {
        background-color: var(--bg-color);
        color: var(--text);
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        padding-bottom: 50px;
    }

    header {
        width: 90%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: var(--primary-color);
        padding: 5%;
        position: relative;
        z-index: 1;
    }

    header .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .container img {
        max-width: 150px;
        margin: 0;
        box-shadow: 0 0 0;
    }

    header .container .content {
        margin: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .container .content h1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    main{
        max-width: 90%;
    }

    .trio{
        display: flex;
        flex-direction: column;
    }
    
    .trio .box {
        width: 90%;
    }

    footer{
        max-width: 90%;
    }

    .trans{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

    .trans h4{
        margin-top: 0;
    }

    .trans i{
        width: 1.25rem;
        position: absolute;
        top: -20%;
        right: -7.5%;
    }

    .trans p{
        position: absolute;
        margin-right: 25px;
        margin-top: -20px;
        width: 100%;
        position: absolute;
    }

    .box#saldo{
        font-size:3rem;
    }

    .date-shipping{
        font-size: .5rem !important;
        margin-top: 2.5px;
    }
}